<div id = "prueba">
    <ul id="menu">
			<li><a href="/">Inicio</a></li>
			<li><a href="/products">Productos</a>
				<ul>
					<li><a href="">Refrescos</a></li>
					<li><a href="">Cócteles</a></li>
					<li><a href="">Desayunos</a></li>
					<li><a href="">Mini-refrigeradores</a></li>
       	    	</ul>
			</li>
			<li><a href="/contact">Contacto</a>
				<ul>
					<li><a href="">Quienes somos</a></li>
					<li><a href="">Escríbenos</a></li>
					<li><a href="">Se que habia otra opcion</a></li>
				</ul>
			</li>
		
	</ul>
</div>
